<div class="col-sm-12 col-md-12 col-lg-12">
    <h3>Ajouter un nouvel aliment</h3>
    <div>
        <form class="form-horizontal" ng-submit="addFood()">
            <bars:admin:food:add sell-item="sell_item" item-details="item_details" buy-item="buy_item" stock-item="stock_item" add="add" new-details="true"></bars:admin:food:add>
            <div class="form-group">
                <label for="fqty" class="col-sm-2 control-label">Quantité</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control" id="fqty" placeholder="Quantité initiale" value="0" ng-model="food.qty">
                </div>
                <label class="col-sm-3 control-label">{{ (food.unit_name_plural && food.qty > 1) && food.unit_name_plural || (food.unit_name || ((food_details.name_plural && food.qty > 1) && food_details.name_plural || food_details.name)) }}</label>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" class="btn btn-primary" value="Ajouter" ng-if="!food.qty" />
                    <input type="submit" class="btn btn-success" value="Ajouter et approvisionner pour {{ food.qty/food.unit_value*food.price|currency }}" ng-if="food.qty" />
                </div>
              </div>
        </form>
    </div>
</div>
