<div class="col-sm-12 col-md-12 col-lg-12">
    <fieldset>
        <legend><a title="Faire une appro" class="link" ng-click="formAppro = !formAppro">Faire une appro</a></legend>
        <div ng-if="formAppro" class="animated fadeIn">
            Formulaire d'appro. Ici. Ça va arriver.<br />
            L'énorme tableau on a dit que c'était nul, donc il y aura juste un champ pour taper le nom de l'aliment, une fois celui-ci trouvé 2-3 champs apparaissent pour indiquer la quantité et l'unité.<br />
            En plus c'est bien, sur la même page ça fait appro et ajout d'aliment, ce qui se passe souvent ensemble non ?
        </div>
    </fieldset>
    <br />
    <fieldset>
        <legend><a title="Ajouter un nouvel aliment" class="link" ng-click="formAdd = !formAdd">Ajouter un aliment</a></legend>
        <div ng-show="formAdd" class="animated fadeIn">
            <form class="form-horizontal" ng-submit="addFood()">
                <div class="form-group">
                    <label for="fname" class="col-sm-3 control-label">Nom</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="fname" placeholder="Pates" ng-model="food.name" tooltip="Au singulier si cet aliment n'a pas d'unité" tooltip-trigger="focus" tooltip-placement="bottom">
                    </div>
                </div>
                <div class="form-group">
                    <label for="fbuy_unit" class="col-sm-3 control-label">Unité d'achat</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="fbuy_unit" placeholder="kg" ng-model="food.buy_unit" tooltip="L'unité des appros" tooltip-trigger="focus" tooltip-placement="bottom">
                    </div>
                </div>
                <div class="form-group">
                    <label for="funit" class="col-sm-3 control-label">Unité de vente</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="funit" placeholder="g" ng-model="food.unit" tooltip="L'unité utilisée par les utilisateurs" tooltip-trigger="focus" tooltip-placement="bottom">
                    </div>
                </div>
                <div class="form-group">
                    <label for="fprice" class="col-sm-3 control-label">Prix</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" id="fprice" placeholder="2.34" ng-model="food.price">
                    </div>
                    <label class="col-sm-3 control-label">€ / {{ food.buy_unit }}</label>
                </div>
                <div class="form-group">
                    <label for="funit_value" class="col-sm-3 control-label">1 {{ food.buy_unit || food.name }} = </label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="funit_value" placeholder="1000" ng-model="food.unit_value">
                    </div>
                    <label class="col-sm-3 control-label">{{ food.unit || food.name }}</label>
                </div>
                <div class="form-group">
                    <label for="fkeywords" class="col-sm-3 control-label">Mots clés</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="fkeywords" placeholder="séparés par des espaces" ng-model="food.keywords">
                    </div>
                </div>
                <div class="form-group">
                    <label for="fqty" class="col-sm-3 control-label">Quantité</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" id="fqty" placeholder="Quantité initiale" value="0" ng-model="food.qty">
                    </div>
                    <label class="col-sm-3 control-label">{{ food.unit || food.name }}</label>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <input type="submit" class="btn btn-primary" value="Ajouter" ng-if="!food.qty" />
                        <input type="submit" class="btn btn-success" value="Ajouter et approvisionner pour {{ food.qty/food.unit_value*food.price|currency }}" ng-if="food.qty" />
                    </div>
                  </div>
            </form>
        </div>
    </fieldset>
</div>
<div class="col-sm-12 col-md-12 col-lg-12">
    <div class="graphiquet">
        Graphique
    </div>
    <div class="graphiquet">
        Tableau aliments plus consommés cette semaine
    </div>
    <div class="graphiquet">
        Tableau vols
    </div>
</div>
