<div class="modal-header">
    <h3 class="modal-title">Ajouter un nouvel aliment</h3>
</div>
<div class="modal-body">
    <bars:admin:food:add barcode="barcode" buy-item="buy_item" origin="origin" ng-if="user.can('add_sellitem') && user.can('add_stockitem') && user.can('add_itemdetails') && user.can('add_buyitem') && user.can('add_buyitemprice')"></bars:admin:food:add>
    <div class="alert alert-danger" ng-if="!(user.can('add_sellitem') && user.can('add_stockitem') && user.can('add_itemdetails') && user.can('add_buyitem') && user.can('add_buyitemprice'))">
        Vous n'avez pas tous les droits permettant d'ajouter un aliment
    </div>
</div>
