<hr />
<div class="text-center">
	<h1>{{ foodDetails.name }}</h1>
</div>
<br />
<div class="row h4">
	<div class="col-sm-3 text-right"><strong>Prix</strong></div>
	<div class="col-sm-9"><span class="label label-info">{{ foodDetails.price|currency }}<span ng-hide="foodDetails.unit == ''"> / {{ foodDetails.unit }}</span></span></div>
</div>
<div class="row h4">
	<div class="col-sm-3 text-right"><strong>Stock</strong></div>
	<div class="col-sm-9"><span class="label" ng-class="foodDetails.qty > 0 && 'label-primary' || 'label-warning'">{{ foodDetails.qty | number }} {{ foodDetails.unit == '' && (foodDetails.name|affs:foodDetails.qty) || foodDetails.unit }}</span></div>
</div>
<div class="row">
	<div class="col-sm-3">
		<select class="form-control" ng-model="queryType">
			<option value="buy">Acheter</option>
			<option>Ajouter au panier</option>
			<option value="throw">Jeter</option>
			<option>Approvisionner</option>
		</select>
	</div>
	<div class="col-sm-9">
		<form ng-switch on="queryType" class="form-inline" role="form" ng-submit="query(queryQty, queryType)">
			<input type="number" class="form-control" step="any" ng-model="queryQty" size="4" style="width: 80px" />
			<input type="text" class="form-control" disabled="true" placeholder="{{ foodDetails.unit == '' && (foodDetails.name|affs:queryQty) || foodDetails.unit }}" />
			<input ng-switch-when="buy" type="submit" class="btn btn-success" value="Valider{{ queryQty > 0 && ' pour ' + ((queryQty*foodDetails.price) | currency) || '' }}" ng-class="queryQty <= 0 && 'disabled' || ''" />
			<input ng-switch-default type="submit" class="btn btn-success" value="Valider" ng-class="queryQty <= 0 && 'disabled' || ''" />
		</form>
	</div>
</div>

<br /><br />

<div class="row">
	<div class="col-sm-3 text-right h4"><strong>Historique</strong></div>
	<div class="col-sm-9">
		<bars:history history="history"></bars:history>
	</div>
</div>
