<hr />
<div class="text-center">
	<h1>{{ foodDetails.name }}</h1>
</div>
<br />
<div class="row h4">
	<div class="col-sm-3 text-right"><strong>Prix</strong></div>
	<div class="col-sm-9"><span class="label label-info">{{ foodDetails.price|currency }}<span ng-hide="foodDetails.unit == ''"> / {{ foodDetails.unit }}</span></span></div>
</div>
<div class="row h4">
	<div class="col-sm-3 text-right"><strong>Stock</strong></div>
	<div class="col-sm-9"><span class="label" ng-class="foodDetails.qty > 0 && 'label-primary' || 'label-warning'">{{ foodDetails.qty | number }} {{ foodDetails.unit == '' && (foodDetails.name|affs:foodDetails.qty) || foodDetails.unit }}</span></div>
</div>
<div class="row">
	<div class="col-sm-3">
		<select class="form-control" ng-model="queryType">
			<option value="buy">Acheter</option>
			<option>Ajouter au panier</option>
			<option value="throw">Jeter</option>
			<option value="appro">Approvisionner</option>
		</select>
	</div>
	<div class="col-sm-9">
		<form class="form-inline" role="form" ng-submit="query(queryQty, queryType)">
			<input type="number" class="form-control number" step="any" ng-model="queryQty" />
			<div class="checkbox unit">
				{{ foodDetails.unit == '' && (foodDetails.name|affs:queryQty) || foodDetails.unit }}
			</div>
			<input type="submit" class="btn btn-success" value="Valider{{ queryQty > 0 && ' pour ' + ((queryQty*foodDetails.price) | currency) || '' }}" ng-class="queryQty <= 0 && 'disabled' || ''" />
		</form>
	</div>
</div>
<div class="row h4">
	<div class="col-sm-3 text-right"><strong>Gestion</strong></div>
	<div class="col-sm-9">
		<div class="btn-toolbar" role="toolbar">
			<div class="btn-group">
				<a title="Modifier cet aliment" class="btn btn-default">
					<span class="glyphicon glyphicon-edit"></span>
					Modifier
				</a>
			</div>
			<div class="btn-group">
				<a title="{{ foodDetails.deleted && 'Restaurer cet aliment' || 'Supprimer cet aliment' }}" class="btn btn-danger" ng-class="foodDetails.deleted && 'active'" ng-click="trashIt()">
					<span class="glyphicon glyphicon-trash"></span>
					{{ foodDetails.deleted && 'Restaurer' || 'Supprimer' }}
				</a>
			</div>
		</div>
	</div>
</div>

<br /><br />
<!--
<div class="row">
	<div class="col-sm-3 text-right h4"><strong>Historique</strong></div>
	<div class="col-sm-9">
		<bars:history history="history"></bars:history>
	</div>
</div>
 -->
