<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 col-xs-4">
                <div class="navbar-header">
                    <a class="navbar-brand hidden-xs" ui-sref="index">
                        <img alt="Chocapix" src="assets/img/logo.png" style="height: 100%;">
                    </a>
                    <a class="navbar-brand" ui-sref="bar({bar: bar.id})">
                        <img alt="{{ bar.name }}" ng-src="assets/img/sections/{{ bar.id }}.png" style="height: 200%; margin-top: -0.6em;">
                    </a>
                    <p class="navbar-text" ng-if="false">
                        Bar {{ bar.name }}
                    </p>
                </div>
            </div>

            <!-- When auth -->
            <div ng-show="user.isAuthenticated()">
                <div class="col-sm-5 col-lg-6 hidden-xs" ng-show="user.can('add_transaction')">
                    <div class="row" ui-view="form">
                    </div>
                </div>
                <div class="col-xs-8" ng-class="user.can('add_transaction') && 'col-sm-5 col-lg-4' || 'col-sm-5 col-sm-offset-5 col-lg-4 col-lg-offset-6'" ui-view="user-infos"></div>
            </div>

            <!-- Else -->
            <div class="col-sm-10 col-xs-10" ng-hide="user.isAuthenticated()">
                <div class="row">
                    <form class="navbar-form" role="form" ng-submit="connexion(login)">
                        <input type="text" class="form-control" placeholder="Login" ng-model="login.username">
                        <input type="password" class="form-control" placeholder="Mot de passe" ng-model="login.password" ng-class="loginError && 'animated shake'">
                        <button type="submit" class="btn btn-default" ng-class="inLogin && 'disabled'">Connexion</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>
