<div class="container-fluid">
<div class="row">
<div class="col-sm-8 col-sm-offset-2">
    <div class="panel panel-default" ng-if="(bar.foods | filter:bar.search).length < 4 && (bar.foods | filter:bar.search).length > 0">
        <div class="panel-heading"><h4 class="panel-title text-center">Aliments dans le bar</h4></div>
        <table class="table table-striped table-hover">
            <tr>
                <th>Nom</th>
                <th>Quantité</th>
                <th>Prix</th>
            </tr>
            <tr ng-repeat="f in bar.foods | filter:bar.search">
                <td><bars:food food="f"></bars:food></td>
                <td>{{ f.qty | number }}<span ng-hide="f.unit == ''"> {{ f.unit }}</span></td>
                <td>{{ f.price | currency }}<span ng-hide="f.unit == ''"> / {{ f.unit }}</span></td>
            </tr>
        </table>
    </div>

    <div class="panel panel-default" ng-if="(bar.accounts | filter:bar.search).length < 4 && (bar.accounts | filter:bar.search).length > 0">
        <div class="panel-heading"><h4 class="panel-title text-center">Membres du bar</h4></div>
        <table class="table table-striped table-hover">
            <tr>
                <th>Nom</th>
                <th>Solde</th>
            </tr>
            <tr ng-repeat="a in bar.accounts | filter:bar.search">
                <td><bars:account account="a"></bars:account></td>
                <td>{{ a.money | currency }}</td>
            </tr>
        </table>
    </div>
</div>
</div>
