<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-label="Fermer"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Faire une remarque</h4>
</div>
<div class="modal-body">
    <div class="row">
        <p>
            <strong>Attention</strong> : ce message va être envoyé à l'équipe de développement de Chocapix, et non à tes respos bar.
        </p>
        <form class="form-horiontal" ng-if="!bugSignaled">
            <div class="form-group">
                <label class="control-label col-sm-3">Ton message</label>
                <div class="col-sm-9">
                    <textarea class="form-control" rows="3" placeholder="Il peut s'agir d'une suggestion, d'un bug (décris le le plus précisément possible), d'un message de remerciement, d'une inquiétude, d'une question..." ng-model="bug.message"></textarea>
                </div>
            </div>
        </form>
        <div class="text-center col-sm-12" ng-if="bugSignaled">
            <h4>C'est noté. Merci de ton aide !</h4>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Fermer</button>
    <button type="button" class="btn btn-primary" ng-click="submitBug()">Envoyer</button>
</div>
