<ul class="nav navbar-nav navbar-right">
    <li ng-show="user.can('add_mealtransaction')" class="hidden-xs">
        <a popover-meal="nothing" popover-placement="bottom" class="link" ng-class="meal.in() && 'in-meal'">
            <span class="badge badge-info" ng-if="meal.in()">
                {{ meal.totalPrice | currency }}
            </span>
            <span class="glyphicon glyphicon-shopping-cart"></span>
        </a>
    </li>
    <li class="hidden-xs">
        <a ui-sref="bar.account.details({ bar: bar.id, id: user.account.id })">{{ user.user.full_name }}</a>
    </li>
    <li class="navbar-brand" ng-if="user.hasAccount()" ng-class="user.account.money < 0 && 'animated wobble' || ''">
        <span ng-class="user.account.money < 0 && 'label label-danger' || ''">
            {{ user.account.money | currency }}
        </span>
    </li>
    <li class="navbar-brand" ng-if="!user.hasAccount()">
        - €
    </li>
    <li>
        <a title="Déconnexion" ui-sref="bar({ bar: bar.id })" ng-click="user.logout()">
            <span class="glyphicon glyphicon-off"></span>
        </a>
    </li>
</p>
