<div class="col-sm-12 col-md-6 col-lg-5">
    <fieldset>
        <legend><a title="Créer un nouvel utilisateur" class="link" ng-click="formUser = !formUser">Créer un nouvel utilisateur</a></legend>
        <div ng-if="formUser" class="animated fadeIn">
            Utiliser ce formulaire pour créer et ajouter au bar un nouvel utilisateur.
        </div>
    </fieldset>
    <fieldset>
        <legend><a title="Ajouter au bar un utilisateur existant d'un autre bar" class="link" ng-click="formAccount = !formAccount">Ajouter au bar un utilisateur existant</a></legend>
        <div ng-if="formAccount" class="animated fadeIn">
            Utiliser ce formulaire pour ajouter au bar un utilisateur existant d'un autre bar.
        </div>
    </fieldset>

</div>
<div class="col-sm-12 col-md-6 col-lg-7">
    <div class="graphiquet">
        Graphique ?
    </div>
    <div class="graphiquet">
        Graphique ?
    </div>
    <div class="graphiquet">
        Graphique ?
    </div>
</div>
