<div class="col-sm-12">
    <h3>Importer des comptes de l'ancien site</h3>
    <div>
        <form class="form-horizontal" ng-submit="importAccounts()">
            <div class="form-group">
                <label for="ulastname" class="col-sm-3 control-label">Requête à exécuter</label>
                <div class="col-sm-9">
<pre>SELECT b.login, b.money, b.admin, a.hruid, a.firstname, a.lastname, a.email
FROM `avironjone_user` AS b
LEFT JOIN account AS a
ON a.uid = b.uid;</pre>
                </div>
            </div>
            <div class="form-group">
                <label for="ulastname" class="col-sm-3 control-label">Liste JSON</label>
                <div class="col-sm-9">
                    <textarea ng-model="lista" style="width: 100%; height: 200px;"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <input type="submit" class="btn btn-success" value="Importer {{ oa.length }} comptes" ng-class="oa.length == 0 && 'disabled' || ''" />
                </div>
              </div>
        </form>
    </div>
</div>
