<div class="col-sm-12 col-md-12 col-lg-12">
    <h3>Ajouter un utilisateur existant au bar</h3>

    <div>
        <form class="form-horizontal" ng-submit="createAccount()">
            <div class="form-group">
                <label for="aowner" class="col-sm-3 control-label">Utilisateur</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="aowner" placeholder="Taper un nom" ng-model="user" typeahead="usr.full_name for usr in users_list | filter:$viewValue | limitTo:10" autocomplete="off" typeahead-on-select="findUser($item)">
                </div>
            </div>
            <div class="form-group">
                <label for="amoney" class="col-sm-3 control-label">Solde</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="amoney" placeholder="Solde initial" ng-model="money" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <input type="submit" class="btn btn-success" value="Ajouter" ng-if="user" />
                </div>
              </div>
        </form>
    </div>
</div>
