<div class="col-sm-12">
    <h2 class="text-center">Bugs reportés par les utilisateurs</h2>

    <div ng-repeat="bug in bug_list | filter:{'fixed': false} | orderBy:'-timestamp'" ng-if="bug_list.length > 0">
        <div class="panel panel-default">
            <div class="panel-heading">
                Reporté le : {{ bug.timestamp | date:'medium' }}<br />
                par : {{ bug.author.full_name }} <small>({{ bug.bar.name }})</small>
            </div>
            <div class="panel-body">
                <h4>Message</h4>
                <p>{{ bug.message }}</p>

                <h4>Data</h4>
                <pre>{{ bug.data }}</pre>
            </div>
        </div>
    </div>
    <div ng-if="bug_list.length == 0">
        <em>Pas de bug reporté !</em>
    </div>
</div>