/* app css stylesheet */

.logo.petit {
    width: 64px;
    height: 64px;
}

.legend {
    color: gray;
}

.del {
    color: gray;
    font-weight: 100;
    font-size: 0.8em;
}
.del a {
    color: gray;
}
.del a.label {
    color: white;
}

.text-capitalizefirst:first-letter {
    text-transform: uppercase;
}

.glyphicon-refresh-animate {
    -webkit-animation: rotateThis 1s infinite linear;
    -moz-animation: rotateThis 1s infinite linear;
    -o-animation: rotateThis 1s infinite linear;
    animation: rotateThis 1s infinite linear;
}

@-webkit-keyframes rotateThis {
 from { 
        -webkit-transform: rotate(0deg);
    }
 to  { 
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rotateThis {
 from { 
        transform: rotate(0deg);
    }
 to  { 
        transform: rotate(360deg);
    }
}

li li {
    list-style-type: square;
}

