<div class="col-sm-12">
    <ul class="nav nav-tabs" role="tablist">
        <li ng-class="settings.active == 'credentials' && 'active'">
            <a title="Identifiants" ui-sref="bar.settings.credentials({ bar: bar.id })"><span class="glyphicon glyphicon-lock"></span> Identifiants</a>
        </li>
        <li ng-class="settings.active == 'menus' && 'active'">
            <a title="Mes menus" ui-sref="bar.settings.menus({ bar: bar.id })"><span class="glyphicon glyphicon-list-alt"></span> Mes menus</a>
        </li>
    </ul>
    <br />
    <div class="row" ui-view="">
    </div>
</div>
