<div class="col-sm-4">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <h2 class="panel-title pull-left text-capitalizefirst" style="padding-top: 7.5px;">
                Liste des menus
            </h2>
            <a title="Créer un nouveau menu" class="pull-right btn btn-info" ng-click="createMenu()">
                <span class="glyphicon glyphicon-plus"></span> <span class="hidden-xs">Créer</span>
            </a>
        </div>
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Nom du menu</th>
                    <th>Aliments</th>
                    <th>Prix</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="menu in menus" class="link" ng-click="selectMenu(menu)">
                    <td><a>{{ menu.name }}</a></td>
                    <td>{{ menu.items.length }}</td>
                    <td>{{ menuPrice(menu) | currency }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="col-sm-8" ng-if="selectedMenu.menu">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <h2 class="panel-title pull-left text-capitalizefirst" style="padding-top: 7.5px;">
                Modifier le menu
            </h2>
            <a title="Supprimer le menu" class="pull-right btn btn-danger" style="margin-left: 1em;" ng-click="deleteMenu()">
                <span class="glyphicon glyphicon-trash"></span> <span class="hidden-xs">Supprimer</span>
            </a>
            <a title="Annuler les modifications" class="pull-right btn btn-warning" style="margin-left: 1em;" ng-click="closeMenu()">
                <span class="glyphicon glyphicon-remove"></span> <span class="hidden-xs">Annuler</span>
            </a>
            <a title="Sauvegarder les modifications" class="pull-right btn btn-success" ng-click="saveMenu()">
                <span class="glyphicon glyphicon-ok"></span> <span class="hidden-xs">Valider</span>
            </a>
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="name" class="col-sm-3 control-label">Nom du menu</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="name" ng-model="selectedMenu.menu.name" tabindex="100">
                    </div>
                </div>
                <div class="form-group">
                    <label for="new-item" class="col-sm-3 control-label">Ajouter un aliment</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="new-item" ng-model="selectedMenu.newItem" typeahead="item.name for item in sellitem_listf($viewValue) | limitTo:10" autocomplete="off" typeahead-on-select="addItem($item)" typeahead-template-url="components/admin/food/typehead-sell-item.html" tabindex="110">
                    </div>
                </div>
            </form>
        </div>
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Aliment</th>
                    <th>Quantité</th>
                    <th>Prix</th>
                    <th>Supprimer</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(index, item) in selectedMenu.menu.items">
                    <td class="vmiddle"><bars:sellitem item="item.sellitem"></bars:sellitem></td>
                    <td class="vmiddle"><input type="number" min="0" step="any" ng-model="item.qty" class="form-control input-sm mqty" placeholder="Quantité" tabindex="150"> {{ item.qty > 1 && item.sellitem.unit_name_plural || item.sellitem.unit_name }}</td>
                    <td class="vmiddle"> {{ item.sellitem.fuzzy_price * item.qty | currency}}</td>
                    <td class="vmiddle">
                        <a class="btn btn-danger btn-xs" ng-click="deleteItem(index)">
                            <span class="glyphicon glyphicon-trash"></span>
                            Supprimer
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
