<div class="col-sm-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title text-center text-capitalizefirst">
                Liste
            </h2>
        </div>
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Nom du menu</th>
                    <th>Nombre d'aliments</th>
                    <th>Prix</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
</div>

<div class="col-sm-6">
milieu
</div>
