<div class="col-sm-12">
    <h2>Gestion des utilisateurs</h2>

    <div class="row">
        <div class="col-sm-12">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="searchUserInput">Rechercher</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="searchUserInput" placeholder="Tape un nom ou un pseudo" typeahead="usr.lastname + ' ' + usr.firstname for usr in user_list | filter:$viewValue | limitTo:7" ng-model="searchl" autocomplete="off" typeahead-on-select="findUser($item)">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <p>À faire ici</p>
    <ul>
        <li>Panel avec les notifications concernant les Users</li>
        <li>Bouton "Ajouter User"</li>
        <li>Lien vers la gestion des roots</li>
        <li>Lien vers la gestion des respos bar (dont "communication aux respos bar")</li>
    </ul>
</div>