<div class="col-sm-12">
    <h2 class="text-center">Gestion globale des aliments</h2>

    <div class="row">
        <div class="col-sm-12">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="searchItemdetailsInput">Rechercher</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="searchItemdetailsInput" placeholder="" typeahead="item.name for item in itemdetails_list | filter:filterItems | limitTo:7" ng-model="searchl" autocomplete="off" typeahead-on-select="findItem($item)">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>