<div class="col-md-12 col-sm-12 col-xs-12">
    <!-- Seuil de solde bas -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Seuil de solde bas</h4>
        </div>
        <div class="panel-body">
            <p>Les utilisateurs sont alertés lorsque leur sole passe en dessous de cette limite. Cela leur rappelle de faire un chèque rapidement.</p>
            <form class="form-horizontal" ng-submit="saveMoneyLimit()">
                <div class="form-group">
                    <label for="moneyLimit" class="control-label col-sm-3">Seuil</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="moneyLimit" placeholder="5 €" ng-model="moneyLimit">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <input type="submit" class="btn btn-success" value="Enregistrer" ng-class="moneyLimit < 0 && 'disabled'" />
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Gestion des agios -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Agios</h4>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" ng-submit="saveAgio()">
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="activateAgio" />
                                Activer les agios
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="graceTime" class="col-sm-3 control-label">Délai avant le premier agio (jours)</label>
                    <div class="col-sm-9">
                        <input type="numeric" class="form-control" id="graceTime" ng-model="graceTime" ng-class="!activateAgio && 'disabled'" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="agioFormula" class="col-sm-3 control-label">Formule des agios</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="agioFormula" placeholder="0.5 • 0.1*s • 0.1*s*t" ng-model="agioFormula" ng-class="!activateAgio && 'disabled'" />
                        <span class="help-block">Dans la formule, tu peux utiliser <var>s</var> le solde (en valeur absolue) et <var>t</var> le temps passé en négatif (en jours).</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <input type="submit" class="btn btn-success" value="Enregistrer" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>