<div class="col-md-12 col-sm-12 col-xs-12">
    <!-- Seuil de solde bas -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Seuil de solde bas</h4>
        </div>
        <div class="panel-body">
            <p>Les utilisateurs sont alertés lorsque leur solde passe en dessous de cette limite. Cela leur rappelle de faire un chèque rapidement.</p>
            <form class="form-horizontal" ng-submit="saveMoneyLimit()">
                <div class="form-group">
                    <label for="moneyLimit" class="control-label col-sm-3">Seuil</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <span class="input-group-addon">€</span>
                            <input type="text" class="form-control" id="moneyLimit" ng-model="moneyLimit">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <input type="submit" class="btn btn-success" value="Enregistrer" ng-class="moneyLimit < 0 && 'disabled'" />
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Durée d'annulation -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Durée d'annulation</h4>
        </div>
        <div class="panel-body">
            <p>Durée pendant laquelle un utilisateur peut annuler ou restaurer une transaction.</p>
            <form class="form-horizontal" ng-submit="saveTransactionCancel()">
                <div class="form-group">
                    <label for="timeCancel" class="control-label col-sm-3">Nombre d'heures</label>
                    <div class="col-sm-9">
                        <input type="number" min="0" step="any" class="form-control" id="timeCancel" ng-model="timeCancel">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <input type="submit" class="btn btn-success" value="Enregistrer" ng-class="timeCancel < 0 && 'disabled'" />
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Taxe par défaut (pour remplir les champs) -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Taxe par défaut</h4>
        </div>
        <div class="panel-body">
            <p>Taxe pour les aliments. Cela permet de pré-remplir le champ <b>Taxe</b> lors de la création d'un aliment, ou de modifier les taxes actuelles.</p>
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="defaultTax" class="control-label col-sm-3">Taxe</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <input type="number" min="0" step="any" class="form-control" id="defaultTax" ng-model="defaultTax">
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <p>
                            <input type="submit" class="btn btn-success" value="Modifier la taxe par défaut pour les futurs aliments" ng-click="saveDefaultTax()" ng-class="defaultTax < 0 && 'disabled'" />
                        </p>
                        <p>
                            <input type="submit" class="btn btn-warning" value="Modifier la taxe pour les aliments futurs et existants" ng-click="saveTaxForAll()" ng-class="defaultTax < 0 && 'disabled'" />
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Gestion des agios -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Agios</h4>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" ng-submit="saveAgio()">
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="agiosEnabled" />
                                Activer les agios
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-class="(agiosThreshold < 0 && 'has-error')">
                    <label for="agiosThreshold" class="col-sm-3 control-label">Délai avant le premier agio (jours)</label>
                    <div class="col-sm-9">
                        <input type="number" class="form-control" id="agiosThreshold" ng-model="agiosThreshold" ng-class="(!agiosEnabled && 'disabled')" />
                        <span class="help-block">Il s'agit du nombre de jours <b>entiers</b> avant que les agios ne soient appliqués.</span>
                    </div>
                </div>
                <div class="form-group" ng-class="(agiosFactor < 0 && 'has-error')">
                    <label for="agiosFactor" class="col-sm-3 control-label">Coefficient des agios</label>
                    <div class="col-sm-9">
                        <input type="number" step="any" class="form-control" id="agiosFactor" placeholder="0.05" ng-model="agiosFactor" ng-class="(!agiosEnabled && 'disabled')" />
                        <span class="help-block">Chaque jour, tout compte en négatif sera débité de son solde en valeur absolue multiplié par ce facteur.</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <input type="submit" class="btn btn-success" value="Enregistrer" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
