<div class="container-fluid">
    <div class="row">
        <div ng-show="canUpdate" class="col-sm-2">
            <a title="Mettre à jour l'historique" ng-click="update()" class="btn btn-primary" ng-class="history.$loading && 'disabled'">
                <span ng-class="history.$loading && 'glyphicon-refresh-animate'" class="glyphicon glyphicon-refresh"></span> Actualiser
            </a>
        </div>
        <div class="col-sm-offset-5 col-sm-5">
            <input type="search" class="form-control" ng-model="queryh" placeholder="Rechercher dans l'historique" id="queryh" />
        </div>
    </div>
</div>

<br /><br />


<div class="container-fluid"><div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="panel panel-default" ng-repeat="hh in historyDisplay" ng-if="(hh.history | filter:queryh).length > 0">
            <div class="panel-heading">
                <h2 class="panel-title text-center text-capitalizefirst">{{ hh.date | amCalendar }}</h2>
            </div>
            <table class="table table-striped table-hover table-condensed history">
                <tr ng-repeat="h in hh.history | filter:queryh" ng-class="h.canceled && 'del' || ''" ng-init="details = {show:false}">
                    <td class="time">{{ h.timestamp | date:'shortTime' }}</td>

                    <!-- type -->
                    <td class="type">
                        <ng:switch on="h.type">
                            <span ng-switch-when="throw">mise à la poubelle de</span>
                            <span ng-switch-when="give">don à</span>
                            <span ng-switch-when="buy">
                                <span ng-if="(h.operations | filter:'accountoperation').length == 1 && (h.operations | filter:'stockoperation').length == 1">achat de</span>
                                <span ng-if="(h.operations | filter:'accountoperation').length == 1 && (h.operations | filter:'stockoperation').length > 1">achat d'un panier de</span>
                                <span ng-if="(h.operations | filter:'accountoperation').length > 1">bouffe à plusieurs entre</span>
                            </span>
                        </ng:switch>
                    </td>
                    <td class="stock">
                        <ng:switch on="h.type">
                            <span ng-switch-when="give">
                                <span ng-repeat="o in h.operations | filter:'accountoperation'">
                                    <span ng-if="o.deltamoney > 0">
                                        <bars:account account="o.account"></bars:account>
                                    </span>
                                </span>
                            </span>
                            <span ng-switch-default>
                                <span ng-if="h.type == 'buy' && (h.operations | filter:'accountoperation').length > 1">
                                    <a title="Voir les détails" ng-click="details.show = true" ng-hide="details.show" class="link">{{ (h.operations | filter:'accountoperation').length }} participants</a>
                                    <table class="max" ng-if="details.show">
                                        <tr ng-repeat="o in h.operations | filter:'accountoperation'">
                                            <td><bars:account account="o.account"></bars:account></td>
                                            <td><span class="label label-success">{{ o.deltamoney|currency }}</span></td>
                                        </tr>
                                    </table>
                                </span>
                                <span ng-if="h.type != 'buy' || (h.operations | filter:'accountoperation').length == 1">
                                    <span ng-if="(h.operations | filter:'stockoperation').length > 1">
                                        <a title="Voir les détails" ng-click="details.show = true" ng-hide="details.show" class="link">{{ (h.operations | filter:'stockoperation').length }} aliments</a>
                                        <table class="max" ng-if="details.show">
                                            <tr ng-repeat="o in h.operations | filter:'stockoperation'">
                                                <td><bars:food food="o.item" qty="(-1)*o.deltaqty"></bars:food></td>
                                                <td><span class="label label-success">{{ o.deltaqty*o.item.price|currency }}</span></td>
                                            </tr>
                                        </table>
                                    </span>
                                    <span ng-if="(h.operations | filter:'stockoperation').length == 1" ng-repeat="o in h.operations | filter:'stockoperation'">
                                        <bars:food food="o.item" qty="(-1)*o.deltaqty"></bars:food>
                                    </span>
                                </span>
                            </span>
                        </ng:switch>
                    </td>
                    <td class="user">
                        <ng:switch on="h.type">
                            <span ng-switch-when="throw">
                                par <bars:account account="h.author.accounts[0]" user="h.author"></bars:account>
                            </span>
                            <span ng-switch-when="give">
                                par <bars:account account="h.author.accounts[0]" user="h.author"></bars:account>
                            </span>
                            <span ng-switch-when="buy">
                                <span ng-if="h.type == 'buy' && (h.operations | filter:'accountoperation').length > 1">
                                    <span ng-if="(h.operations | filter:'stockoperation').length == 1">
                                        et
                                        <span ng-repeat="o in h.operations | filter:'stockoperation'">
                                            <bars:food food="o.item" qty="(-1)*o.deltaqty"></bars:food>
                                        </span>
                                    </span>
                                    <span ng-if="(h.operations | filter:'stockoperation').length > 1">
                                        <span ng-hide="details.show">
                                            et <a title="Voir les détails" ng-click="details.show = true" class="link">{{ (h.operations | filter:'stockoperation').length }} aliments</a>
                                        </span>
                                        <table class="max" ng-if="details.show">
                                            <tr ng-repeat="o in h.operations | filter:'stockoperation'">
                                                <td><bars:food food="o.item" qty="(-1)*o.deltaqty"></bars:food></td>
                                                <td><span class="label label-success">{{ o.deltaqty*o.item.price|currency }}</span></td>
                                            </tr>
                                        </table>
                                    </span>
                                </span>
                                <span ng-if="(h.operations | filter:'accountoperation').length <= 1">
                                    par <span ng-repeat="o in h.operations | filter:'accountoperation'">
                                        <bars:account account="o.account"></bars:account>
                                    </span>
                                </span>
                            </span>
                        </ng:switch>
                    </td>
                    <td class="price">
                        <span class="label" ng-class="h.canceled && 'label-default' || 'label-success'">{{ (-1)*h.moneyflow|currency }}</span>
                    </td>
                    <td class="buttons">
                        <a title="Annuler cette transaction" ng-if="!h.canceled" ng-click="cancelTransaction(h)" class="label label-warning">Annuler</a>
                        <span class="label label-default" ng-if="h.canceled">Annulée</span>
                        <a title="Rétablir cette transaction" ng-if="h.canceled" ng-click="uncancelTransaction(h)" class="label label-warning">Rétablir</a>
                    </td>
                </tr>
            </table>
            <div class="panel-body" ng-if="0">
                <em>Body</em>
            </div>
        </div>
    </div>
</div></div>
