<div class="col-xs-12 text-center">
    <hr class="derrierebtn" />
    <div class="btn-group btn-group-sm">
        <a class="btn btn-default" ng-class="state.active == 'user' && 'active'" ng-click="state.active = 'user'">Utilisateurs</a>
        <a class="btn btn-default" ng-class="state.active == 'food' && 'active'" ng-click="state.active = 'food'">Aliments</a>
        <a class="btn btn-default">Inter-bars</a>
    </div>
</div><br /><br />

<div ng-if="state.active == 'user'">
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title text-center text-capitalizefirst">
                    Meilleurs consommateurs ever
                </h2>
            </div>
            <table class="table table-hover table-striped">
                <tbody bars:ranking:accounts ranking="best_ever"></tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title text-center text-capitalizefirst">
                    Le dernier mois
                </h2>
            </div>
            <table class="table table-hover table-striped">
                <tbody bars:ranking:accounts ranking="best_month"></tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title text-center text-capitalizefirst">
                    Les plus cohèzes
                </h2>
            </div>
            <table class="table table-hover table-striped">
                <tbody bars:ranking:accounts ranking="best_coheze"></tbody>
            </table>
        </div>
    </div>
</div>
<div ng-if="state.active == 'food'">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title text-center text-capitalizefirst">
                    Aliments les plus consommés
                </h2>
            </div>
            <table class="table table-hover table-striped">
                <tbody bars:ranking:sellitems ranking="best_sellitem" limit="50"></tbody>
            </table>
        </div>
    </div>
</div>
