<div class="col-sm-12 col-md-6 col-lg-4">
    <h1 class="text-center">
        <span class="label label-success">+ 837.45€</span><br />
        <small>Félicitations, le bar est en positif</small>
    </h1>
    <br />
    <div class="row">
        <div class="col-sm-6">
            <h2 class="text-center">
                <span class="label label-warning">2</span>
                <br /><small>élèves en négatif</small>
            </h2>
        </div>
        <div class="col-sm-6">
            <h2 class="text-center">
                <span class="label label-danger">5</span>
                <br /><small>aliments en rupture</small>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h2 class="text-center">
                <span class="label label-danger">134.32 €</span>
                <br /><small>volés cette semaine</small>
            </h2>
        </div>
        <div class="col-sm-6">
            <h2 class="text-center">
                <span class="label label-primary">1</span>
                <br /><small>jour avant la livraison</small>
            </h2>
        </div>
    </div>
</div>
<div class="col-sm-12 col-md-6 col-lg-8">
    <div class="graph" id="graph1">
    </div>
    <div class="graphiquet">
        Graphique 2
    </div>
    <div class="graphiquet">
        Graphique 3
    </div>
    <div class="graphiquet">
        Graphique 4
    </div>
</div>
