<div class="col-sm-12">
    <h1 class="text-center">
        <span class="label" ng-class="money >= 0 && 'label-success' || 'label-danger'">{{ money >= 0 && '+' || '' }} {{ money | currency }}</span><br />
        <small ng-if="money >= 0">Félicitations, le bar est en positif</small>
        <small ng-if="money < 0">Le bar est en déficit !</small>
    </h1>
    <br />
    <div class="row">
        <div class="col-sm-6">
            <h2 class="text-center">
                <span class="label" ng-class="ratioAccountNegativ > 0.25 && 'label-danger' || (ratioAccountNegativ > 0.15 && 'label-warning' || 'label-success')">{{ nbAccountNegativ }}</span>
                <br /><small>compte{{ nbAccountNegativ > 1 && 's' || '' }} en négatif</small>
            </h2>
        </div>
        <div class="col-sm-6">
            <h2 class="text-center">
                <span class="label" ng-class="ratioFoodNegativ > 0.25 && 'label-danger' || (ratioFoodNegativ > 0.15 && 'label-warning' || 'label-success')">{{ nbFoodNegativ }}</span>
                <br /><small>aliment{{ nbFoodNegativ > 1 && 's' || '' }} en rupture</small>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h2 class="text-center">
                <span class="label label-danger">- €</span>
                <br /><small>volés cette semaine</small>
            </h2>
        </div>
        <div class="col-sm-6">
            <h2 class="text-center">
                <span class="label label-primary">{{ nbDaysBeforeAppro }}</span>
                <br /><small>jour{{ nbDaysBeforeAppro > 1 && 's' || '' }} avant la livraison</small>
            </h2>
        </div>
    </div>
</div>
<div class="col-sm-12 col-md-6 col-lg-8" ng-show="false">
    <div class="graph" id="graph1">
    </div>
    <div class="graphiquet">
        Graphique 2
    </div>
    <div class="graphiquet">
        Graphique 3
    </div>
    <div class="graphiquet">
        Graphique 4
    </div>
</div>
