<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs" role="tablist">
                <li ng-class="admin.active == 'dashboard' && 'active'">
                    <a title="Dashboard" ui-sref="bar.admin({ bar: bar.id })"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a>
                </li>
                <li ng-class="admin.active == 'food' && 'active'" class="dropdown dropdownli">
                    <a title="Aliments" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="glyphicon glyphicon-cutlery"></span> Aliments <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ui-sref="bar.admin.food.add({ bar: bar.id })" ng-if="user.can('add_item')">Ajouter un aliment</a></li>
                        <li><a ui-sref="bar.admin.food.appro({ bar: bar.id })" ng-if="user.can('add_approtransaction')">Faire une appro</a></li>
                        <li><a ui-sref="bar.admin.food.inventory({ bar: bar.id })" ng-if="user.can('add_inventorytransaction')">Faire un inventaire</a></li>
                        <li><a ui-sref="bar.admin.food.graphs({ bar: bar.id })">Graphiques</a></li>
                    </ul>
                </li>
                <li ng-class="admin.active == 'account' && 'active'" class="dropdown dropdownli">
                    <a title="Utilisateurs" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="glyphicon glyphicon-user"></span> Utilisateurs <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ui-sref="bar.admin.account.add({ bar: bar.id })">Créer un utilisateur</a></li>
                        <li><a ui-sref="bar.admin.account.link({ bar: bar.id })" ng-if="user.can('add_account')">Ajouter un utilisateur existant</a></li>
                    </ul>
                </li>
                <li ng-class="admin.active == 'news' && 'active'" class="dropdown dropdownli">
                    <a title="Actualités" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="glyphicon glyphicon-bullhorn"></span> Actualités <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a>Annoncer la prochaine appro</a></li>
                        <li><a ui-sref="bar.admin.news.add({ bar: bar.id })" ng-if="user.can('add_news')">Ajouter une news</a></li>
                        <li><a ui-sref="bar.admin.news.list({ bar: bar.id })" ng-if="user.can('change_news') || user.can('delete_news')">Liste des news</a></li>
                    </ul>
                </li>
                <li ng-class="admin.active == 'settings' && 'active'">
                    <a ui-sref="bar.admin.settings({ bar: bar.id })"><span class="glyphicon glyphicon-wrench"></span> Paramètres</a>
                </li>
            </ul>
            <br />
            <div class="row" ui-view="">
            </div>
        </div>
    </div>
</div>
