<h1 class="text-center">{{ UserDetail.user.name }}</h1>

<div class="row h4">
	<div class="col-sm-2 text-right"><strong>Solde</strong></div>
	<div class="col-sm-10"><span class="label" ng-class="UserDetail.money > 0 && 'label-success' || 'label-danger'">{{ UserDetail.money | currency }}</span></div>
</div>

<div class="row">
    <div class="col-sm-2 text-right h4"><strong>Historique</strong></div>
    <div class="col-sm-10" ng-controller="HistoryCtrl">
        <ul>
            <li ng-repeat="h in history">
                <span ng-show="h.type == 'buy' && (h.operations | filter:'accountoperation').length <= 1">
                <!-- Une seule opération de compte => un seul acheteur, donc ce n'est pas une bouffe à plusieurs -->
                    {{ h.timestamp | amCalendar }} : achat de 
                    <span ng-repeat="o in h.operations | filter:'stockoperation'">
                        <span ng-show="$middle">, </span>
                        <span ng-show="$last && !$first"> et de </span>
                        {{ ((-1)*o.deltaqty)|number }} <span ng-hide="o.item.unit == ''">{{ o.item.unit }} {{ o.item.name | affd }}<a title="Voir la fiche de cet aliment" ui-sref="bar.food.detail({ bar: bar.id, id:o.item.id })">{{ o.item.name }}</a></span><span ng-show="o.item.unit == ''"><a title="Voir la fiche de cet aliment" ui-sref="bar.food.detail({ bar: bar.id, id:o.item.id })">{{ o.item.name | affs:((-1)*o.deltaqty) }}</a></span>
                    </span> 
                    par 
                    <span ng-repeat="o in h.operations | filter:'accountoperation'">
                        <span ng-show="$middle">, </span>
                        <span ng-show="$last && !$first"> et </span>
                        <a title="Voir la fiche de cet utilisateur" ui-sref="bar.user.detail({ bar: bar.id, id:o.account.user.id })">{{ o.account.user.name }}</a> ({{ o.deltamoney|currency }})
                    </span>
                </span>
            </li>
        </ul>
    </div>
</div>