<a title="Mettre à jour la liste des utilisateurs" ng-click="updateUserList()" class="btn btn-primary" ng-class="updatingUserList && 'disabled'"><span class="glyphicon glyphicon-refresh"></span> Actualiser</a><br /><br />
<table class="table table-striped table-hover">
    <tr>
        <th>Nom</th>
        <th>Solde</th>
        <th>Login</th>
    </tr>
    <tr ng-repeat="u in bar.users | filter:bar.search">
        <td>{{ u.name }}</td>
        <td>{{ u.money }} €</td>
        <td>{{ u.login }}</td>
    </tr>
</table>
