<a title="Mettre à jour la liste des utilisateurs" ng-click="updateUserList()" class="btn btn-primary" ng-class="updatingUserList && 'disabled'"><span ng-class="updatingUserList && 'glyphicon-refresh-animate'" class="glyphicon glyphicon-refresh"></span> Actualiser</a><br /><br />
<table class="table table-striped table-hover">
    <tr>
        <th>Nom</th>
        <th>Solde</th>
    </tr>
    <tr ng-repeat="a in bar.accounts | filter:bar.search">
        <td><bars:account account="a"></bars:account></td>
        <td>{{ a.money | currency }}</td>
    </tr>
</table>
