<div class="col-sm-12 col-md-12 col-lg-12">
    <h3><span ng-if="formType == 'add'">Ajouter</span><span ng-if="formType == 'edit'">Modifier</span> une news</h3>

    <div>
        <form class="form-horizontal" ng-submit="saveNews()">
            <div class="form-group">
                <label for="nname" class="col-sm-3 control-label">Titre</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="nname" placeholder="Informations" ng-model="news.name">
                </div>
            </div>
            <div class="form-group">
                <label for="ntext" class="col-sm-3 control-label">Message</label>
                <div class="col-sm-9">
                  <textarea class="form-control" id="ntext" placeholder="Corps de la news" ng-model="news.text"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <input type="submit" class="btn btn-success" value="Publier" ng-if="news.text != ''" />
                </div>
              </div>
        </form>
    </div>
</div>