<div class="col-sm-12">
    <h2 class="text-center">
        <div class="pull-right">
            <a class="btn btn-success btn-sm" ui-sref="root.news.add">Ajouter</a>
        </div>
        Actualités générales du site
    </h2>

    <div ng-repeat="news in news_list | orderBy:'-last_modified'" class="panel panel-default">
        <div class="panel-heading">
            <div class="pull-right">
                <a ui-sref="root.news.edit({id: news.id})" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-edit"></span> Modifier</a>
                <a ng-if="!news.deleted" ng-click="trash(news)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span> Supprimer</a>
                <a ng-if="news.deleted" ng-click="untrash(news)" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-share-alt"></span> Rétablir</a>
            </div>
            <h3 class="panel-title">
                {{ news.name }} <span ng-if="news.deleted"><small><em>(supprimée)</em></small></span>
            </h3>
        </div>
        <div class="panel-body" ng-bind-html="news.text | nl2br"></div>
        <div class="panel-footer">
            {{ news.author.firstname != "" && (news.author.firstname + ' ' + news.author.lastname) || (news.author.pseudo || news.author.username) }} • {{ news.last_modified | date:'EEE dd MMM yyyy, HH:mm' }}
        </div>
    </div>
</div>