<h1 class="text-center">{{ accountDetail.user.name }}</h1>

<div class="row h4">
    <div class="col-sm-3 text-right"><strong>Solde</strong></div>
    <div class="col-sm-9">
        <span class="label" ng-class="accountDetail.money > 0 && 'label-success' || 'label-danger'">
            {{ accountDetail.money | currency }}
        </span>
    </div>
</div>
<div class="row" ng-show="accountDetail.id != user.account.id">
    <div class="col-sm-3">
        <select class="form-control" ng-model="queryType">
            <option value="give">Faire un don</option>
            <option value="punish">Mettre une amende</option>
        </select>
    </div>
    <div class="col-sm-9">
        <form class="form-inline" role="form" ng-submit="query(queryQty, queryType, queryMotive)">
            <input type="number" class="form-control number" ng-model="queryQty" />
            <span ng-show="queryType == 'punish'">
                <input type="text" class="form-control large" ng-model="queryMotive" placeholder="Motif de l'amende" />
                <input type="submit" class="btn btn-warning" value="Mettre une amende{{ queryQty > 0 && ' de ' + (queryQty | currency) || '' }}" ng-class="(queryQty <= 0) && 'disabled' || ''" />
            </span>
            <input ng-show="queryType == 'give'" type="submit" class="btn btn-success" value="Donner {{ queryQty > 0 && ' ' + (queryQty | currency) || '' }}" ng-class="queryQty <= 0 && 'disabled' || ''" />
        </form>
    </div>
</div>

<br /><br />

<div class="row">
    <div class="col-sm-3 text-right h4"><strong>Historique</strong></div>
    <div class="col-sm-9">
        <bars:history history="history"></bars:history>
    </div>
</div>
