<a title="Mettre à jour la liste des utilisateurs" ng-click="updateAccountsList()" class="btn btn-primary" ng-class="updatingAccountsList && 'disabled'">
    <span ng-class="updatingAccountsList && 'glyphicon-refresh-animate'" class="glyphicon glyphicon-refresh"></span> Actualiser
</a><br /><br />
<table class="table table-striped table-hover">
    <tr>
        <th>Nom</th>
        <th>Solde</th>
    </tr>
    <tr ng-repeat="u in bar.accounts | filter:bar.search" ng-class="u.money < 0 && 'danger'">
        <td><a title="En savoir plus sur {{ u.user.name }}" ui-sref="bar.account.detail({ bar: bar.id, id:u.id })">{{ u.user.name }}</a></td>
        <td>{{ u.money | currency }}</td>
    </tr>
</table>
