<form class="navbar-form">
    <input type="search" class="form-control" ng-model="bar.search" id="q_alim" autocomplete="off"
        placeholder="(acheter) 120g pates • ajouter (à la bouffe à plusieurs) 3 tomates • (donner) 6€ Thomas • acheter 20cl lait / acheter 0.2l lait"
        style="width: 100%;"
        ng-keypress="convertBarcode($event)"
        typeahead="'' as el for el in query.suggest | limitTo:7"
        typeahead-template-url="components/magicbar/typeahead.html" typeahead-wait-ms="100"
        typeahead-on-select="executeQuery($item, $model, $label)" />
</form>
