<form class="navbar-form">
    <input type="search" class="form-control" ng-model="bar.search" id="q_alim" autocomplete="off"
        placeholder="Que voulez-vous faire ?"
        style="width: 100%;"
        typeahead="'' as el for el in query.suggest | limitTo:7"
        typeahead-template-url="components/magicbar/typeahead.html" typeahead-wait-ms="100"
        typeahead-on-select="executeQuery($item, $model, $label)" />
</form>
<!--
<div ng-if="query.hasError" class="alert alert-danger col-sm-8 col-sm-offset-2" role="alert">
    {{ query.errorMessage }}
</div><br /><br />
-->
