<a>
	<ng:switch on="match.model.type">
        <span ng-switch-when="punish">Mettre une amende</span>
        <span ng-switch-when="appro">Approvisionner</span>
        <span ng-switch-when="buy">Acheter</span>
		<span ng-switch-when="buymenu">Acheter</span>
        <span ng-switch-when="give">Donner</span>
        <span ng-switch-when="throw">Jeter</span>
		<span ng-switch-when="add">Ajouter</span>
		<span ng-switch-when="addmenu">Ajouter</span>
		<span ng-switch-when="inventory">Indiquer qu'il reste</span>
		<span ng-switch-when="deposit">Créditer</span>
        <span ng-switch-when="refund">Rembourser</span>
        <span ng-switch-when="withdraw">Retirer</span>
        <span ng-switch-default>{{ match.model.type }}</span>
    </ng:switch>
    <span ng-switch on="match.model.type">
		<span ng-switch-when="buymenu">
            {{ match.model.qty | number }} {{ 'menu' | affs:match.model.qty }} {{ match.model.menu.name }} pour {{ match.model.menu | menuPrice:match.model.qty | currency }}
        </span>
		<span ng-switch-when="addmenu">
            {{ match.model.qty | number }} {{ 'menu' | affs:match.model.qty }} {{ match.model.menu.name }} pour {{ match.model.menu | menuPrice:match.model.qty | currency }}
        </span>
        <span ng-switch-when="give">
            {{ match.model.qty | currency }} à <bars:account account="match.model.account"></bars:account>
        </span>
		<span ng-switch-when="deposit">
			de {{ match.model.qty | currency }} le compte de <bars:account account="match.model.account"></bars:account>
		</span>
        <span ng-switch-when="throw">
            <bars:sellitem item="match.model.food" qty="match.model.qty"></bars:sellitem> à la poubelle
        </span>
        <span ng-switch-when="punish">
            de {{ match.model.qty | currency }} à <bars:account account="match.model.account"></bars:account>
        </span>
		<span ng-switch-when="inventory">
			<bars:stockitem item="match.model.food" qty="match.model.qty" out="'buy'"></bars:stockitem>
		</span>
        <span ng-switch-when="refund">
            {{ match.model.qty | currency }} à <bars:account account="match.model.account"></bars:account>
        </span>
        <span ng-switch-when="withdraw">
            {{ match.model.qty | currency }} du compte de <bars:account account="match.model.account"></bars:account>
        </span>
        <span ng-switch-default>
            <bars:sellitem item="match.model.food" qty="match.model.qty"></bars:sellitem>
			pour
			<bars:sellitem:price item="match.model.food" qty="match.model.qty"></bars:sellitem:price>
        </span>
    </span>
	<span ng-if="match.model.type == 'add'"> à la bouffe à plusieurs</span>
</a>
