<a>
	<ng:switch on="match.model.type">
        <span ng-switch-when="punish">Mettre une amende</span>
        <span ng-switch-when="appro">Approvisionner</span>
        <span ng-switch-when="buy">Acheter</span>
        <span ng-switch-when="give">Donner</span>
        <span ng-switch-when="throw">Jeter</span>
        <span ng-switch-default>{{ match.model.type }}</span>
    </ng:switch>
    <span ng-switch on="match.model.type">
        <span ng-switch-when="give">
            {{ match.model.qty | currency }} à <bars:account account="match.model.account"></bars:account>.
        </span>
        <span ng-switch-when="throw">
            <bars:food food="match.model.food" qty="match.model.qty" unit="match.model.unit"></bars:food> à la poubelle.
        </span>
        <span ng-switch-when="punish">
            de {{ match.model.qty | currency }} à <bars:account account="match.model.account"></bars:account>.
        </span>
        <span ng-switch-default>
            <bars:food food="match.model.food" qty="match.model.qty" unit="match.model.unit"></bars:food> pour {{ (match.model.qty*match.model.food.price) | currency }}.
        </span>
    </span>
</a>