<a>
	<ng:switch on="match.model.type">
        <span ng-switch-when="punish">Mettre une amende</span>
        <span ng-switch-when="appro">Approvisionner</span>
        <span ng-switch-when="buy">Acheter</span>
        <span ng-switch-when="give">Donner</span>
        <span ng-switch-when="throw">Jeter</span>
		<span ng-switch-when="add">Ajouter</span>
		<span ng-switch-when="inventory">Indiquer qu'il reste</span>
        <span ng-switch-default>{{ match.model.type }}</span>
    </ng:switch>
    <span ng-switch on="match.model.type">
        <span ng-switch-when="give">
            {{ match.model.qty | currency }} à <bars:account account="match.model.account"></bars:account>
        </span>
        <span ng-switch-when="throw">
            <bars:food food="match.model.food" qty="match.model.qty" unit="match.model.unit"></bars:food> à la poubelle
        </span>
        <span ng-switch-when="punish">
            de {{ match.model.qty | currency }} à <bars:account account="match.model.account"></bars:account>
        </span>
		<span ng-switch-when="inventory">
			<bars:food food="match.model.food" qty="match.model.qty" unit="match.model.unit" in="'sell'" out="'sell'"></bars:food>
		</span>
        <span ng-switch-default>
            <bars:food food="match.model.food" qty="match.model.qty" unit="match.model.unit" in="'sell'" out="'sell'"></bars:food> pour
			<bars:food:price food="match.model.food" qty="match.model.qty" in="'sell'"></bars:food:price>
        </span>
    </span>
	<span ng-if="match.model.type == 'add'"> à la bouffe à plusieurs</span>
</a>
