/* app css stylesheet */

.logo.petit {
    width: 64px;
    height: 64px;
}

.legend {
    color: gray;
}

.del {
    color: gray;
    font-weight: 100;
    font-size: 0.8em;
}
.del a {
    color: gray;
}
.del a.label {
    color: white;
}

.text-capitalizefirst:first-letter {
    text-transform: uppercase;
}

.form-control.right {
    float: right;
}
.form-control.small {
    width: 30%;
}

table.max {
    width: 100%;
}
a.link {
    cursor: pointer;
}
.atooltip:hover {
    text-decoration: none;
}
li.active a {
    color: white;
    cursor: default;
}
li.active a:hover {
    text-decoration: none;
}
li.active.dropdownli a {
    color: black;
}

.form-control.number {
    width: 80px;
}
.form-control.large {
    width: 300px;
}
.checkbox.unit {
    margin-right: 20px;
}

.graphiquet {
    color: gray;
    height: 200px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 4px;
    text-align: center;
    padding-top: 80px;
}
.graph {
    height: 200px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 4px;
}

/* Styles for history table */
.history td.time {
    width: 30px;
}
.history td.type {
    width: 15%;
}
.history td.stock {
    width: 25%;
}
.history td.price {
    width: 40px;
    text-align: right;
}
.history td.buttons {
    width: 80px;
    text-align: right;
}
.history td.par {
    width: 30px;
}

th.box {
    width: 100px;
}

.glyphicon-refresh-animate {
    -webkit-animation: rotateThis 1s infinite linear;
    -moz-animation: rotateThis 1s infinite linear;
    -o-animation: rotateThis 1s infinite linear;
    animation: rotateThis 1s infinite linear;
}

@-webkit-keyframes rotateThis {
 from {
        -webkit-transform: rotate(0deg);
    }
 to  {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rotateThis {
 from {
        transform: rotate(0deg);
    }
 to  {
        transform: rotate(360deg);
    }
}


dl.no-margin {
    margin: 0px;
}

.div-scroll {
    max-height: 10em;
    overflow: auto;
}

.no-border td {
    border: none !important;
}
.no-vertical-margin {
    margin-top: 0;
    margin-bottom: 0;
}
.vmiddle {
    vertical-align: middle !important;
}
.vbottom {
    vertical-align: bottom !important;
}
.vtop {
    vertical-align: top !important;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.space-below {
    margin-bottom: .5em;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #dddddd;
    border-radius: 0 0 4px 4px;
    padding: 15px;
    margin-bottom: 1em;
}
.nav-tabs {
    margin-bottom: 0;
}
.table-tab {
    margin: -15px 0px;
}
.table-tab tr:first-of-type, .table-tab tr:first-of-type td {
    border-top-width: 0;
}
.table-tab td.end-of-column {
    border-right: 1px solid #ddd;
}
.table-tab .title {
    width: 20%;
}
.table-tab .value {
    width: 30%;
}
.pqty {
    display: inline-block;
    width: 60px;
}
.margin-left {
    margin-left: 1em;
}

td.qty {
    width: 90px;
}
td.remove {
    width: 20px;
}
/* Animations */
.meal.ng-enter {
    -webkit-animation: fadeInDown 1s;
    -moz-animation: fadeInDown 1s;
    -o-animation: fadeInDown 1s;
    animation: fadeInDown 1s;
}
.meal.ng-leave {
    -webkit-animation: fadeOut .5s;
    -moz-animation: fadeOut .5s;
    -o-animation: fadeOut .5s;
    animation: fadeOut .5s;
}
