/* app css stylesheet */
html,
body {
  height: 100%;
  width: 100%;
}
body {
    padding-top: 70px;
    padding-bottom: 50px;
}
.logo.petit {
    width: 64px;
    height: 64px;
}

.legend {
    color: gray;
}

.del {
    color: gray;
    font-weight: 100;
    font-size: 0.8em;
}
.del a {
    color: gray;
}
.del a.label {
    color: white;
}

.text-capitalizefirst:first-letter {
    text-transform: uppercase;
}
.text-ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.form-control.right {
    float: right;
}
.form-control.small {
    width: 30%;
}

table.max {
    width: 100%;
}
.link {
    cursor: pointer;
}
.atooltip:hover {
    text-decoration: none;
}
li.active a {
    color: white;
    cursor: default;
}
li.active a:hover {
    text-decoration: none;
}
li.active.dropdownli a {
    color: black;
}

.form-control.number {
    width: 80px;
}
.form-control.large {
    width: 300px;
}
.checkbox.unit {
    margin-right: 20px;
}

.graphiquet {
    color: gray;
    height: 200px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 4px;
    text-align: center;
    padding-top: 80px;
}
.graph {
    height: 200px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 4px;
}

/* Styles for history table */
.history td.time {
    width: 30px;
}
.history td.type {
    width: 15%;
}
.history td.stock {
    width: 25%;
}
.history td.price {
    width: 40px;
    text-align: right;
}
.history td.buttons {
    width: 80px;
    text-align: right;
}
.history td.par {
    width: 30px;
}

th.box {
    width: 100px;
}

.glyphicon-refresh-animate {
    -webkit-animation: rotateThis 1s infinite linear;
    -moz-animation: rotateThis 1s infinite linear;
    -o-animation: rotateThis 1s infinite linear;
    animation: rotateThis 1s infinite linear;
}

@-webkit-keyframes rotateThis {
 from {
        -webkit-transform: rotate(0deg);
    }
 to  {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rotateThis {
 from {
        transform: rotate(0deg);
    }
 to  {
        transform: rotate(360deg);
    }
}


dl.no-margin {
    margin: 0px;
}

.div-scroll {
    max-height: 10em;
    overflow: auto;
}

.no-border td {
    border: none !important;
}
.no-vertical-margin {
    margin-top: 0;
    margin-bottom: 0;
}
.vmiddle {
    vertical-align: middle !important;
}
.vbottom {
    vertical-align: bottom !important;
}
.vtop {
    vertical-align: top !important;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.space-below {
    margin-bottom: .5em;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #dddddd;
    border-radius: 0 0 4px 4px;
    padding: 15px;
    margin-bottom: 1em;
}
.nav-tabs {
    margin-bottom: 0;
}
.table-tab {
    margin: -15px 0px;
}
.table-tab tr:first-of-type, .table-tab tr:first-of-type td {
    border-top-width: 0;
}
.table-tab td.end-of-column {
    border-right: 1px solid #ddd;
}
.table-tab tr.last-tr td {
    border-bottom: 1px solid #ddd;
}
.table-tab .title {
    width: 20%;
}
.table-tab .value {
    width: 30%;
}
.pqty {
    display: inline-block;
    width: 60px;
}
.mqty {
    display: inline-block;
    width: 100px;
}
.margin-left {
    margin-left: 1em;
}

td.qty {
    width: 90px;
}
td.remove {
    width: 20px;
}
tr.condensed td {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    font-size: 0.8em;
    height: calc(0.8em + 8px);
}
td.alinea {
    padding-left: 48px !important;
}

hr.derrierebtn {
    position: relative;
    bottom: -1.1em;
    margin: 0;
    border-color: #ccc;
}
.meal .popover-content {
    padding: 0 !important;
}
.meal .popover {
    width: 400px;
    max-width: 400px;
}
.meal .popover-title {
    text-align: center;
}
.Header__User {
    max-width: 220px;
}

.morris-chart svg {
    width: 100%;
}

/* Ranking */
.Ranking-Description {
    float: left;
    margin-right: 20px;
}
.Ranking-Description__Label {
    height: 20px;
    transform: rotate(-90deg) translate(-48px, -5px);
    transform-origin: left top 0;
    font-size: 12px;
    width: 80px;
    padding: 0;
    display: inline-block;
    border-bottom: 1px solid lightgray;
    text-align: center;
}
.Ranking-Description__Img {
    display: inline-block;
    height: 60px;
    margin-left: -50px;
}
.Ranking-Description__Img img {
    height: 100%;
}
.Ranking-Total {
    float: right;
    text-align: center;
    margin-right: -10px;
    margin-top: -5px;
}
.Ranking-Total__Qty {
    font-size: 30px;
}

.Suggestion {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}
.Suggestion__Name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.49;
}
.Suggestion__Votes {
    white-space: nowrap;
}

/* Beautiful theme colors */
.colors span:nth-child(7n+1) {
    color: rgb(51, 122, 183);
}
.colors span:nth-child(7n+2) {
    color: rgb(92, 184, 92);
}
.colors span:nth-child(7n+3) {
    color: rgb(91, 192, 222);
}
.colors span:nth-child(7n+5) {
    color: rgb(217, 83, 79);
}
.colors span:nth-child(7n+6) {
    color: rgb(240, 173, 78);
}
.colors span:nth-child(7n+7) {
    color: rgb(119, 119, 119);
}
/* Animations */
.meal.ng-enter {
    -webkit-animation: fadeInDown 1s;
    -moz-animation: fadeInDown 1s;
    -o-animation: fadeInDown 1s;
    animation: fadeInDown 1s;
}
.meal.ng-leave {
    -webkit-animation: fadeOut .5s;
    -moz-animation: fadeOut .5s;
    -o-animation: fadeOut .5s;
    animation: fadeOut .5s;
}
#splash-screen.ng-leave {
    -webkit-animation: fadeOut .5s;
    -moz-animation: fadeOut .5s;
    -o-animation: fadeOut .5s;
    animation: fadeOut .5s;
}
.navbar-default .navbar-nav > li > a.in-meal {
    color: #337ab7;
}

.modal-backdrop {
    width: 100%;
    height: 100%;
}

.badge-info {
    background-color: #5bc0de;
}

#new-version {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
}
#new-version .alert {
    margin: 0px;
}
#splash-screen {
    background: white;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 10000;
}
#splash-screen #cont {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
#splash-screen .progress-bar {
    transition-duration: 0.2s;
}
@media screen and (min-width: 768px) {
    .nav-stacked-sm > li {
        float: none;
    }
    #bar-menu {
        position: relative;
    }
}
@media screen and (max-width: 768px) {
    body {
        padding-bottom: 40px;
        padding-top: 50px;
    }
    #bar-menu {
        position: fixed;
        bottom: 0px;
        width: 100%;
        height: 40px;
        z-index: 3000;
        background-color: white;
        border-top: 1px solid #eee;
    }
    .navbar-nav {
        margin: 0px;
    }
}

.clear-par {
    clear: both;
}

.suggestion {
    display: inline-block;
    width: 50%;
}
