/* app css stylesheet */

.logo.petit {
    width: 64px;
    height: 64px;
}

.legend {
    color: gray;
}

.del {
    color: gray;
    font-weight: 100;
    font-size: 0.8em;
}
.del a {
    color: gray;
}
.del a.label {
    color: white;
}

.text-capitalizefirst:first-letter {
    text-transform: uppercase;
}

.form-control.right {
    float: right;
}
.form-control.small {
    width: 30%;
}

table.max {
    width: 100%;
}
a.link {
    cursor: pointer;
}
.atooltip:hover {
    text-decoration: none;
}
li.active a {
    color: white;
    cursor: default;
}
li.active a:hover {
    text-decoration: none;
}

.form-control.number {
    width: 80px;
}
.form-control.large {
    width: 300px;
}
.checkbox.unit {
    margin-right: 20px;
}

.graphiquet {
    color: gray;
    height: 200px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 4px;
    text-align: center;
    padding-top: 80px;
}

/* Styles for history table */
.history td.time {
    width: 30px;
}
.history td.type {
    width: 25%;
}
.history td.stock {
    width: 25%;
}
.history td.price {
    width: 40px;
}
.history td.buttons {
    width: 110px;
}

.glyphicon-refresh-animate {
    -webkit-animation: rotateThis 1s infinite linear;
    -moz-animation: rotateThis 1s infinite linear;
    -o-animation: rotateThis 1s infinite linear;
    animation: rotateThis 1s infinite linear;
}

@-webkit-keyframes rotateThis {
 from { 
        -webkit-transform: rotate(0deg);
    }
 to  { 
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rotateThis {
 from { 
        transform: rotate(0deg);
    }
 to  { 
        transform: rotate(360deg);
    }
}

li li {
    list-style-type: square;
}

