<div class="container-fluid">
	<div ui-view="menu" class="col-md-2">
		<img src="img/bars-logo.png" class="logo petit" alt="[LOGO]" />
		<a title="Accueil du bar" ui-sref="bar({bar: bar})"><img ng-src="img/sections/{{ bar }}.png" class="logo petit" alt="[{{bar}}]" /></a>
	</div>
	<div class="col-md-10">
		<div class="row" ui-view="header">
		</div>
		<div class="row">
			<div class="col-md-12" ui-view="form">
			</div>
		</div>
		<div class="row">
			<div class="col-md-12" ui-view="">
			</div>
		</div>
	</div>
</div>
