<div class="container-fluid">
	<div ui-view="menu" class="col-md-2">
		<h1 class="text-center">34€23</h1>
		<br /><br /><br />
		<ul class="nav nav-pills nav-stacked">
            <li class="active"><a title="Accueil du bar" ui-sref="bar({ bar: bar.id })"><span class="glyphicon glyphicon-home"></span> Accueil</a></li>
            <li><a title="Historique"><span class="glyphicon glyphicon-list"></span> Historique</a></li>
            <li><a title="Utilisateurs du bar"><span class="glyphicon glyphicon-user"></span> Utilisateurs</a></li>
            <li><a title="Administration"><span class="glyphicon glyphicon-dashboard"></span> Administration</a></li>
            <li><a title="Réglages"><span class="glyphicon glyphicon-wrench"></span> Préférences</a></li>
        </ul>
	</div>
	<div class="col-md-10">
		<div class="row" ui-view="header">
		</div>
		<br /><br /><br />
		<div class="row">
			<div class="col-md-12" ui-view="form">
			</div>
		</div>
		<div class="row">
			<div class="col-md-12" ui-view="">
			</div>
		</div>
	</div>
</div>
