<div class="container-fluid">
	<div ui-view="menu" class="col-md-2">
		<img src="img/bars-logo.png" class="logo petit" alt="[LOGO]" />
		<a title="Accueil du bar" ui-sref="bar({bar: bar})"><img ng-src="img/sections/{{ bar }}.png" class="logo petit" alt="[{{bar}}]" /></a>
	</div>
	<div class="col-md-10">
		<div class="row" ui-view="header">
		</div>
		<div class="row">
			<div class="col-md-12">
                <form class="form-horizontal">
                	<div class="form-group">
                		<label for="q_alim" class="col-sm-2 control-label">Acheter</label>
                		<div class="col-sm-6">
                			<input type="search" class="form-control" ng-model="fSearch" />
                		</div>
                	</div>
                </form>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12" ui-view="">
			</div>
		</div>
	</div>
</div>
