<form class="form-horizontal" ng-submit="devURL(url)">
    <div class="form-group">
        <label for="q_dev" class="col-sm-2 control-label">api/{{ bar.id }}/</label>
        <div class="col-sm-1">
            <select ng-model="type" class="form-control">
                <option value="GET">GET</option>
                <option value="POST">POST</option>
            </select>
        </div>
        <div class="col-sm-9">
            <input type="text" id="q_dev" class="form-control" ng-model="url" />
        </div>
        <input type="submit" style="display: block; overflow: hidden; height: 0px; width: 0px; margin: 0px; padding: 0px; visibility: hidden;" value="" />
    </div>
    <div class="form-group" ng-show="type == 'POST'">
        <label for="q_param" class="col-sm-2 control-label">Paramètres</label>
        <div class="col-sm-10">
            <input type="text" id="q_param" class="form-control" ng-model="data" placeholder="a=2&b=34" />
        </div>
    </div>
</form>

<div class="row" ng-show="response.state > 0">
    <div class="col-sm-2 text-right"><strong>État</strong></div>
    <div class="col-sm-10">
        <span class="label label-default" ng-show="response.state == 1">Chargement</span>
        <span ng-show="response.state == 2">
            <span class="label label-success" ng-show="response.status < 300">{{ response.status }}</span>
            <span class="label label-warning" ng-show="response.status < 400 && response.status >= 300">{{ response.status }}</span>
            <span class="label label-danger" ng-show="response.status >= 400">{{ response.status }}</span>
        </span>
    </div>
</div>
<br /><br />
<div ng-show="response.state == 2" class="row">
    <pre>{{ response.data|json }}</pre>
</div>
