<form class="form-horizontal">
	<div class="form-group">
		<label for="q_alim" class="col-sm-2 control-label">Je veux</label>
		<div class="col-sm-8">
			<input type="search" class="form-control" ng-model="bar.search" placeholder="(acheter) 2l de lait • 120g pates • (donner) 2€ à Thomas • ajouter (à la bouffe à plusieurs) 6 steacks • jeter 3 pommes" />
		</div>
	</div>
</form>

<span ng-hide="1">{{ analyse(bar.search) }}</span>
<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<span class="legend" ng-hide="query.food === null">Appuyez sur <kbd>Enter</kbd> pour {{ query.type }} {{ query.qty | formatn }} <span ng-hide="query.unit == ''">{{ query.unit }} {{ query.food.name | affd }}{{ query.food.name }}</span><span ng-show="query.unit == ''">{{ query.food.name | affs:query.qty }}</span> pour {{ (query.qty*query.food.price) | formatn }} €.</span>
	</div>
</div>