<form class="form-horizontal" ng-submit="executeQuery()">
	<div class="form-group">
		<label for="q_alim" class="col-sm-2 control-label">Je veux</label>
		<div class="col-sm-8">
			<input type="search" class="form-control" ng-model="bar.search" placeholder="(acheter) 2l de lait • 120g pates • (donner) 2€ à Thomas • ajouter (à la bouffe à plusieurs) 6 steaks • jeter 3 pommes" id="queryf" id="q_alim" />
		</div>
	</div>
</form>

<span ng-hide="1">{{ analyse(bar.search) }}</span>
<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<span class="legend" ng-hide="query.food === null && query.user === null">Appuyez sur <kbd>Enter</kbd> pour {{ query.type }}
			<span ng-if="query.type=='acheter'">
				<bars:food food="query.food" qty="query.qty" unit="query.unit"/> pour {{ (query.qty*query.food.price) | currency }}.
			</span>
			<span ng-if="query.type=='donner'">
				{{ query.qty | currency }} à <bars:account account="query.user"/>.
			</span>
			<span ng-if="query.type=='jeter'">
				<bars:food food="query.food" qty="query.qty" unit="query.unit"/> à la poubelle.
			</span>
		</span><br /><br /><br />
	</div>
</div>
