<a title="Mettre à jour l'historique" ng-click="updateHistory()" class="btn btn-primary" ng-class="updatingHistory && 'disabled'"><span ng-class="updatingHistory && 'glyphicon-refresh-animate'" class="glyphicon glyphicon-refresh"></span> Actualiser</a><br /><br />
<ul>
    <li ng-repeat="h in history">
        <span ng-show="h.type == 'buy' && (h.operations | filter:'accountoperation').length <= 1">
        <!-- Une seule opération de compte => un seul acheteur, donc ce n'est pas une bouffe à plusieurs -->
            {{ h.timestamp | amCalendar }} : achat de 
            <span ng-repeat="o in h.operations | filter:'stockoperation'">
                <span ng-show="$middle">, </span>
                <span ng-show="$last && !$first"> et de </span>
                {{ ((-1)*o.deltaqty)|formatn }} <span ng-hide="o.item.unit == ''">{{ o.item.unit }} {{ o.item.name | affd }}<a title="Voir la fiche de cet aliment" ui-sref="bar.food.detail({ bar: bar.id, id:o.item.id })">{{ o.item.name }}</a></span><span ng-show="o.item.unit == ''"><a title="Voir la fiche de cet aliment" ui-sref="bar.food.detail({ bar: bar.id, id:o.item.id })">{{ o.item.name | affs:((-1)*o.deltaqty) }}</a></span>
            </span> 
            par 
            <span ng-repeat="o in h.operations | filter:'accountoperation'">
                <span ng-show="$middle">, </span>
                <span ng-show="$last && !$first"> et </span>
                <a title="Voir la fiche de cet utilisateur" ui-sref="bar.user.detail({ bar: bar.id, id:o.account.user.id })">{{ o.account.user.name }}</a> ({{ o.deltamoney|formatn }} €)
            </span>
        </span><br /><!-- Supprimer ce br dès que les bouffes à plusieurs sont implémentées dans Symfony -->

        <span ng-show="h.type == 'buy' && (h.operations | filter:'accountoperation').length >= 1">
        <!-- Sinon, c'est une bouffe à plusieurs -->
            {{h.timestamp | amCalendar }} : 
            <span ng-hide="displayDetail" ng-click="displayDetail = !displayDetail" ng-init="displayDetail = false" class="glyphicon glyphicon-expand"></span>
            <span ng-show="displayDetail" ng-click="displayDetail = !displayDetail"  class="glyphicon glyphicon-collapse-down"></span>
             bouffe à plusieurs entre {{ (h.operations | filter:'accountoperation').length }} participants (ici il y aura le prix total)
            <span ng-show="displayDetail">
                <ul>
                    <li>Participants : 
                        <span ng-repeat="o in h.operations | filter:'accountoperation'">
                            <span ng-show="$middle">, </span>
                            <span ng-show="$last && !$first"> et </span>
                            <a title="Voir la fiche de cet utilisateur" ui-sref="bar.user.detail({ bar: bar.id, id:o.account.user.id })">{{ o.account.user.name }}</a>
                        </span>
                    </li>
                    <li ng-repeat="o in h.operations | filter:'stockoperation'">
                    Achat de {{ ((-1)*o.deltaqty)|formatn }} <span ng-hide="o.item.unit == ''">{{ o.item.unit }} {{ o.item.name | affd }}<a title="Voir la fiche de cet aliment" ui-sref="bar.food.detail({ bar: bar.id, id:o.item.id })">{{ o.item.name }}</a></span><span ng-show="o.item.unit == ''"><a title="Voir la fiche de cet aliment" ui-sref="bar.food.detail({ bar: bar.id, id:o.item.id })">{{ o.item.name | affs:((-1)*o.deltaqty) }}</a></span> ({{ o.deltaqty * o.item.price|formatn }} €)</li>
                </ul>
            </span>
        </span>
    </li>
</ul>