<div ng-show="canUpdate">
    <a title="Mettre à jour l'historique" ng-click="updateHistory()" class="btn btn-primary" ng-class="updatingHistory && 'disabled'">
        <span ng-class="updatingHistory && 'glyphicon-refresh-animate'" class="glyphicon glyphicon-refresh"></span> Actualiser
    </a><br /><br />
</div>

<ul>
    <li ng-repeat="h in history" ng-class="h.canceled && 'del' || ''">
        <!-- Cas de la mise à la poubelle -->
        <span ng-if="h.type == 'throw'" class="bg-warning">
            {{ h.timestamp | amCalendar }} : mise à la poubelle de
            <span ng-repeat="o in h.operations | filter:'stockoperation'">
                <span ng-if="$middle">, </span>
                <span ng-if="$last && !$first"> et de </span>
                {{ ((-1)*o.deltaqty)|number }} <span ng-if="o.item.unit != ''">{{ o.item.unit }} {{ o.item.name | affd }}<a title="Voir la fiche de cet aliment" ui-sref="bar.food.detail({ bar: bar.id, id:o.item.id })">{{ o.item.name }}</a></span><span ng-if="o.item.unit == ''"><a title="Voir la fiche de cet aliment" ui-sref="bar.food.detail({ bar: bar.id, id:o.item.id })">{{ o.item.name | affs:((-1)*o.deltaqty) }}</a></span>
            </span>
            par <a title="Voir la fiche de cet utilisateur" ui-sref="bar.account.detail({ bar: bar.id, id:h.author.accounts[0].id })">{{ h.author.name }}</a>
        </span>

        <!-- Une seule opération de compte => un seul acheteur, donc ce n'est pas une bouffe à plusieurs -->
        <span ng-if="h.type == 'buy' && (h.operations | filter:'accountoperation').length <= 1">
            {{ h.timestamp | amCalendar }} : achat de
            <span ng-repeat="o in h.operations | filter:'stockoperation'">
                <span ng-if="$middle">, </span>
                <span ng-if="$last && !$first"> et de </span>
                {{ ((-1)*o.deltaqty)|number }} <span ng-if="o.item.unit != ''">{{ o.item.unit }} {{ o.item.name | affd }}<a title="Voir la fiche de cet aliment" ui-sref="bar.food.detail({ bar: bar.id, id:o.item.id })">{{ o.item.name }}</a></span><span ng-if="o.item.unit == ''"><a title="Voir la fiche de cet aliment" ui-sref="bar.food.detail({ bar: bar.id, id:o.item.id })">{{ o.item.name | affs:((-1)*o.deltaqty) }}</a></span>
            </span>
            par
            <span ng-repeat="o in h.operations | filter:'accountoperation'">
                <a title="Voir la fiche de cet utilisateur" ui-sref="bar.account.detail({ bar: bar.id, id:o.account.id })">{{ o.account.user.name }}</a>
                <span class="label label-success">{{ o.deltamoney|currency }}</span>
            </span>
        </span><br /><!-- Supprimer ce br dès que les bouffes à plusieurs sont implémentées dans Symfony -->

        <!-- Sinon, c'est une bouffe à plusieurs -->
        <span ng-if="h.type == 'buy' && (h.operations | filter:'accountoperation').length >= 1">
            {{ h.timestamp | amCalendar }} :
            <span ng-hide="displayDetail" ng-click="displayDetail = !displayDetail" ng-init="displayDetail = false" class="glyphicon glyphicon-expand"></span>
            <span ng-show="displayDetail" ng-click="displayDetail = !displayDetail"  class="glyphicon glyphicon-collapse-down"></span>
             bouffe à plusieurs entre {{ (h.operations | filter:'accountoperation').length }} participants <span class="label label-success">{{ prixTotal(h)|currency }}</span>
            <span ng-show="displayDetail">
                <ul>
                    <li>Participants :
                        <span ng-repeat="o in h.operations | filter:'accountoperation'">
                            <span ng-if="$middle">, </span>
                            <span ng-if="$last && !$first"> et </span>
                            <a title="Voir la fiche de cet utilisateur" ui-sref="bar.account.detail({ bar: bar.id, id:o.account.id })">{{ o.account.user.name }}</a>
                        </span>
                    </li>
                    <li ng-repeat="o in h.operations | filter:'stockoperation'">
                        Achat de {{ ((-1)*o.deltaqty)|number }}
                        <span ng-if="o.item.unit != ''">
                            {{ o.item.unit }} {{ o.item.name | affd }}<a title="Voir la fiche de cet aliment" ui-sref="bar.food.detail({ bar: bar.id, id:o.item.id })">{{ o.item.name }}</a>
                        </span>
                        <span ng-if="o.item.unit == ''">
                            <a title="Voir la fiche de cet aliment" ui-sref="bar.food.detail({ bar: bar.id, id:o.item.id })">{{ o.item.name | affs:((-1)*o.deltaqty) }}</a>
                        </span>
                        <span class="label label-success">{{ o.deltaqty * o.item.price|currency }}</span>
                    </li>
                </ul>
            </span>
        </span>
    </li>
</ul>
