Bienvenue sur l'extraordinaire site des bars d'étages.

<table class="table table-striped table-hover" ng-show="(bar.foods | filter:bar.search).length < 4 && (bar.foods | filter:bar.search).length > 0">
    <tr>
        <th>Nom</th>
        <th>Quantité</th>
        <th>Prix</th>
    </tr>
    <tr ng-repeat="f in bar.foods | filter:bar.search">
        <td><a title="Voir les détails de cet aliment" ui-sref="bar.food.detail({ bar: bar.id, id:f.id })">{{ f.name }}</a></td>
        <td>{{ f.qty }}</td>
        <td>{{ f.price }} €</td>
    </tr>
</table>

<table class="table table-striped table-hover" ng-show="(bar.users | filter:bar.search).length < 4 && (bar.users | filter:bar.search).length > 0">
    <tr>
        <th>Nom</th>
        <th>Solde</th>
        <th>Login</th>
    </tr>
    <tr ng-repeat="u in bar.users | filter:bar.search">
        <td><a title="En savoir plus sur {{ u.name }}" ui-sref="bar.user.detail({ bar: bar.id, id:u.id })">{{ u.name }}</a></td>
        <td>{{ u.money }} €</td>
        <td>{{ u.login }}</td>
    </tr>
</table>
