<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title text-center">Bouffe<span ng-if="customersList.length > 1"> à plusieurs</span></h3></div>
    <div class="list-group">
        <div class="list-group-item">
            <button class="btn btn-success btn-block">Valider pour <strong>{{ totalPrice | currency }}</strong></button>
        </div>
        <div class="list-group-item">
            <h5 class="list-group-item-heading text-center">Participants</h5>
            <div class="list-group-item-text">
                <form class="form-inline text-center">
                    <div class="form-group">
                        <label class="sr-only" for="addMealCustomerInput">Ajouter</label>
                        <input type="text" id="addMealCustomerInput" class="form-control" placeholder="Ajouter" typeahead="account.owner.full_name for account in bar.accounts | filter:$viewValue | limitTo:5" ng-model="accountToAdd" autocomplete="off" typeahead-on-select="addCustomer($item, $model, $label)" />
                    </div>
                </form>
                <br />
                <div class="div-scroll">
                <table class="table table-condensed no-border">
                    <tr ng-repeat="customer in customersList" class="animated meal no-border">
                        <td class="vmiddle"><input type="number" min="0" id="ratioCustomer{{ $index }}Input" class="form-control input-sm" style="width: 45px;" placeholder="1" ng-model="customer.ratio" ng-change="amountCompute()"></td>
                        <td class="vmiddle"><span class="form-control-static"><bars:account account="customer.account"></bars:account></span></td>
                        <td class="text-right"><span class="label label-info vbottom">{{ customer.amount | currency }}</span></td>
                        <td class="vmiddle text-right">
                            <a class="text-muted" ng-click="removeCustomer(customer)"><span class="glyphicon glyphicon-remove"></span></a>
                        </td>
                    </tr>
                </table>
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <h5 class="list-group-item-heading text-center">Aliments</h5>
            <div class="list-group-item-text">
                <form class="form-inline text-center">
                    <div class="form-group">
                        <label class="sr-only" for="addMealItemInput">Ajouter</label>
                        <input type="text" id="addMealItemInput" class="form-control" placeholder="Ajouter" typeahead="item.name for item in bar.foods | filter:$viewValue | limitTo:5" ng-model="itemToAdd" autocomplete="off" typeahead-on-select="addItem($item, $model, $label)" />
                    </div>
                </form>
                <br />
                <table class="table table-condensed no-border">
                    <tr ng-repeat="item in itemsList" class="animated fadeInRight no-border">
                        <td class="vmiddle"><input type="number" min="0" id="qtyItem{{ $index }}Input" class="form-control input-sm" style="width: 60px;" placeholder="Quantité" ng-model="item.qty" ng-change="amountCompute()"> {{ item.item.unit }}</td>
                        <td class="vmiddle"><span class="form-control-static"><bars:food food="item.item"></bars:food></span></td>
                        <td class="vmiddle text-right">
                            <a class="text-muted" ng-click="removeItem(item)"><span class="glyphicon glyphicon-remove"></span></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
