<div class="panel panel-default">
    <div class="panel-heading"><h3 class="panel-title text-center">Bouffe<span ng-if="customersList.length > 1"> à plusieurs</span></h3></div>
    <div class="list-group">
        <div class="list-group-item">
            <table class="table table-condensed no-border">
                <tr class="no-border">
                    <td class="vmiddle">Coût total :</td>
                    <td class="vmiddle"><span class="label label-primary">{{ totalPrice | currency }}</span></td>
                    <td><button class="btn btn-success btn-xs"><span class="glyphicon glyphicon-floppy-disk"></span> Valider !</button></td>
                </tr>
            </table>
        </div>
        <div class="list-group-item">
            <h5 class="list-group-item-heading text-center">Participants</h5>
            <div class="list-group-item-text">
                <form class="form-inline text-center">
                    <div class="form-group">
                        <label class="sr-only" for="addMealCustomerInput">Ajouter</label>
                        <input type="text" id="addMealCustomerInput" class="form-control" placeholder="Ajouter" typeahead="account.owner.full_name for account in bar.accounts | filter:$viewValue | limitTo:5" ng-model="accountToAdd" autocomplete="off" typeahead-on-select="addCustomer($item, $model, $label)" />
                    </div>
                </form>
                <br />
                <div class="div-scroll">
                <table class="table table-condensed no-border">
                    <tr ng-repeat="customer in customersList" class="animated meal no-border">
                        <td class="vmiddle"><input type="number" min="0" id="ratioCustomer{{ $index }}Input" class="form-control input-sm" style="width: 45px;" placeholder="1" ng-model="customer.ratio" ng-change="amountCompute()"></td>
                        <td class="vmiddle"><span class="form-control-static">{{ customer.account.owner.full_name }}</span></td>
                        <td class="vmiddle text-right"><span class="label label-info">{{ customer.amount | currency }}</span></td>
                        <td style="vertical-align: baseline;">
                            <button type="button" class="close" ng-click="removeCustomer(customer)"><span aria-hidden="true">&times;</span><span class="sr-only">Retirer</span></button>
                        </td>
                    </tr>
                </table>
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <h5 class="list-group-item-heading text-center">Aliments</h5>
            <div class="list-group-item-text">
                <form class="form-inline text-center">
                    <div class="form-group">
                        <label class="sr-only" for="addMealItemInput">Ajouter</label>
                        <input type="text" id="addMealItemInput" class="form-control" placeholder="Ajouter" typeahead="item.name for item in bar.foods | filter:$viewValue | limitTo:5" ng-model="itemToAdd" autocomplete="off" typeahead-on-select="addItem($item, $model, $label)" />
                    </div>
                </form>
                <br />
                <table class="table table-condensed no-border">
                    <tr ng-repeat="item in itemsList" class="animated fadeInRight no-border">
                        <td class="vmiddle"><input type="number" min="0" id="qtyItem{{ $index }}Input" class="form-control input-sm" style="width: 60px;" placeholder="Quantité" ng-model="item.qty" ng-change="amountCompute()"> {{ item.item.unit }}</td>
                        <td class="vmiddle"><span class="form-control-static">{{ item.item.name }}</span></td>
                        <td style="vertical-align: baseline;">
                            <button type="button" class="close" ng-click="removeItem(item)"><span aria-hidden="true">&times;</span><span class="sr-only">Retirer</span></button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>